.about-container{
  margin: 4rem 6rem;
  }
  
  .about-container h2{
    font-size: 4rem;
  }
  
  .about-container p{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 4.5rem;
      width: 45%;
      text-align: start;
      font-size: 1.1rem;
    }

  .about-container-p-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.5rem;
  }
  .picture {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
    left: 60%;
    margin-top: -20rem;
  }
  
  .picture pic {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0, 0, 0, 0.19);
  }
  
  
  
  @media screen and (max-width: 850px){
   .about-container{
    margin: 4rem 2rem;
  }
  
  }